{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <!-- Bootstrap Jumbotron Bloack -->
    <div class="container">
        <div class="jumbotron">

            <h1>Tatrack</h1>
            <p>What does it take to be a great Artist? Passion, Dedication and a lot of Coffee?</p>
            <hr class="my-4">
            <p>A web-based task productive utility.</p>
        </div>
    </div>



    <form class="form-inline" action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" name="password" placeholder="Password" id="RegisterLabel" type="password"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" name="password_again" placeholder="Password (again)" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Sign Up</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
